@model IEnumerable<TitanTechnologyView.Models.CompanyMaster>

<h2>Company List</h2>
<a class="btn btn-primary" asp-action="AddCompany">Add Company</a>
<br />
<br />

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Company Code</th>
            <th>Company Name</th>
            <th>Contact Person</th>
            <th>Bank</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.CompanyCode</td>
            <td>@item.CompanyName</td>
            <td>@item.ContactPersonName</td>
            <td>@item.BankName</td>
            <td>
                <a asp-action="AddCompany" asp-route-id="@item.CompanyCode" class="btn btn-warning btn-sm">Edit</a>

                @* <a href="javascript:void(0);"

                    onclick="confirmDelete(@item.CompanyCode)"

                    class="btn btn-danger btn-sm">Delete</a> *@
                <a asp-action="Delete" asp-route-id="@item.CompanyCode"
                    onclick="return confirm('Are you sure you want to delete this company?');"
                    class="btn btn-danger btn-sm">Delete</a>

            </td>
        </tr>
    }
    </tbody>
</table>

<script>

    function confirmDelete(id) {
        if (confirm("Are you sure you want to delete this company?")) {
            window.location.href = '/Company/Delete/' + id;
        }
    }
</script>

